python-dotenv
pypdf
chromadb
streamlit
pandas
langchain
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-chroma
langchain-classic
langchain-core
langchain-ollama
rank_bm25
sentence-transformers
ragas